.fb-button {
  display: inline-block;
  margin: 0;
  padding: 0.563rem 0.844rem;
  border: 0 none;
  background: #16a085;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  line-height: 1.5;
  cursor: pointer;
  -webkit-border-radius: 0.125rem;
  -moz-border-radius: 0.125rem;
  border-radius: 0.125rem;
  border: thin solid #45093a;
  border-bottom: 2px solid #bd1550;
}
.fb-button[disabled] {
  background: #ddd !important;
  border: thin solid #ccc;
  color: #777 !important;
  text-shadow: none !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  opacity: 0.65;
  cursor: default;
}
.fb-clear {
  clear: both;
}
.logo {
  background-image: url("../img/logo.png");
  width: 64px;
  height: 64px;
  display: inline-block;
  background-size: 64px 64px;
}
header {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px 0 0;
  position: relative;
  font-family: 'Source Sans Pro', 'Open Sans', Tahoma;
  background-color: #f8ca00;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
}
header h1 {
  display: inline-block;
  position: absolute;
}
.fb-main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px 0 0;
  position: relative;
  font-family: 'Source Sans Pro', 'Open Sans', Tahoma;
}
.fb-save-wrapper {
  position: absolute;
  right: 20px;
  top: 10px;
}
.fb-left {
  float: left;
  width: 320px;
  padding-top: 30px;
}
.fb-right {
  padding-top: 70px;
  margin-left: 320px;
  border-left: 1px solid #ddd;
  padding-left: 20px;
  min-height: 100%;
  overflow: hidden;
}
.fb-no-response-fields {
  color: #999;
}
.fb-tabs {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0 0 0 20px;
  border-bottom: 1px solid #ccc;
}
.fb-tabs li {
  display: inline-block;
}
.fb-tabs li a {
  display: block;
  padding: 10px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  font-size: 13px;
  cursor: pointer;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.fb-tabs li.active a {
  border: 1px solid #ccc;
  margin-bottom: -1px;
  border-bottom-color: #fff;
}
.fb-tab-content .fb-tab-pane {
  padding: 20px 20px;
  display: none;
}
.fb-tab-content .fb-tab-pane.active {
  display: block;
}
.fb-add-field-types .section {
  padding-bottom: 5px;
  margin-bottom: 20px;
}
.fb-add-field-types {
  font-size: 0;
/* Inline block fix */
}
.fb-add-field-types a {
  font-size: 13px;
  display: inline-block;
  width: 48.5%;
  background-color: #490a3d;
  margin-bottom: 9px;
  box-sizing: border-box;
}
.fb-add-field-types a:nth-child(odd) {
  margin-right: 3%;
}
.fb-add-field-types a .symbol {
  opacity: 0.6;
  margin: 0 0.25em 0 -1em;
}
.fb-response-fields {
  padding: 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding-bottom: 150px;
  background-color: #490a3d;
  color: #b6f5c2;
  -webkit-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.75);
  margin: 10px;
}
.fb-response-fields .editing {
  color: #130f0e;
}
.fb-response-fields a.sortable-placeholder {
  display: block;
  border: 1px dashed #ddd;
  min-height: 80px;
  height: 80px;
  width: 100%;
}
/* Field */
.fb-field-wrapper {
  cursor: pointer;
  position: relative;
  margin-bottom: 20px;
}
.fb-field-wrapper input {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: thin solid #ddd;
}
.fb-field-wrapper:hover .actions-wrapper,
.fb-field-wrapper.editing .actions-wrapper {
  display: block;
}
.fb-field-wrapper:hover .subtemplate-wrapper {
  border-color: #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/* Editing */
.fb-field-wrapper.editing {
  background-color: #ecf0f1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.fb-field-wrapper.editing .subtemplate-wrapper {
  border-color: #d9e1e3;
  border-style: solid;
  margin: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.fb-field-wrapper .actions-wrapper {
  display: none;
  position: absolute;
  bottom: -7px;
  right: 5px;
  z-index: 3;
}
.fb-field-wrapper .actions-wrapper a {
  display: inline-block;
  background-color: #ccc;
  padding: 2px 8px;
}
.edit-response-field input,
.edit-response-field textarea,
.edit-response-field select {
  border: thin solid #ddd;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  padding: 0.5em;
  display: inline-block;
  height: auto;
  vertical-align: middle;
}
.edit-response-field input:focus,
.edit-response-field textarea:focus,
.edit-response-field select:focus {
  outline: none;
  border: thin solid #490a3d;
}
.edit-response-field select {
  font-size: 14px;
}
.fb-field-wrapper .actions-wrapper a.js-duplicate,
.fb-edit-field-wrapper .js-add-option {
  background-color: #2ecc71;
  border: none;
}
.fb-field-wrapper .actions-wrapper a.js-clear,
.fb-edit-field-wrapper .js-remove-option {
  background-color: #e74c3c;
  border: none;
}
.fb-field-wrapper .subtemplate-wrapper {
  border: 1px dashed transparent;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
}
.fb-field-wrapper .subtemplate-wrapper .cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.fb-field-wrapper .subtemplate-wrapper > label {
  display: block;
  border-bottom: thin solid #eee;
  padding-bottom: 3px;
  margin-bottom: 7px;
}
.fb-field-wrapper .subtemplate-wrapper abbr {
  color: #f00;
}
.fb-field-wrapper .input-line {
  clear: both;
  margin-bottom: 10px;
}
.fb-field-wrapper .input-line .above-line {
  margin-top: 7px;
}
.fb-field-wrapper .input-line > span {
  display: inline-block;
  vertical-align: top;
}
.fb-field-wrapper .input-line > span input {
  width: 100%;
}
.fb-field-wrapper .input-line > span > label {
  display: block;
  font-size: 13px;
  margin-left: 3px;
}
.fb-field-wrapper .help-block {
  display: block;
  font-size: 12px;
  margin-top: 5px;
}
.fb-edit-field-wrapper {
  font-size: 13px;
}
.fb-edit-field-wrapper .fb-field-label {
  font-weight: normal;
  background: #eee;
  padding: 0.75em;
  color: #666;
  font-size: 1.25em;
}
.fb-edit-field-wrapper .fb-field-label .field-type {
  margin-top: 0.5em;
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
}
.fb-edit-field-wrapper .fb-field-label .field-type:before {
  content: 'Type: ';
  color: #999;
}
.fb-edit-field-wrapper .fb-field-label .fa.fa-arrow-right {
  display: none;
}
.fb-edit-field-wrapper .fb-edit-section-header {
  border-bottom: 1px solid #ddd;
  margin-top: 25px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  clear: both;
  font-weight: 700;
}
.fb-edit-field-wrapper .js-add-option,
.fb-edit-field-wrapper .js-remove-option {
  padding: 3px 6px;
}
.fb-edit-field-wrapper .fb-bottom-add {
  margin-top: 8px;
}
.fb-common-wrapper .fb-label-description {
  margin-bottom: 10px;
}
.fb-common-wrapper .fb-label-description input,
.fb-common-wrapper .fb-label-description textarea {
  width: 100%;
}
.fb-common-wrapper .fb-label-description textarea {
  min-height: 5em;
}
.response-field-draggable-helper {
  border: 1px dashed #ddd;
  background: #eee;
}
.response-field-text input.rf-size-small {
  width: 130px;
}
.response-field-text input.rf-size-medium {
  width: 300px;
}
.response-field-text input.rf-size-large {
  width: 100%;
}
.response-field-paragraph textarea.rf-size-small {
  width: 200px;
  min-height: 60px;
}
.response-field-paragraph textarea.rf-size-medium {
  width: 400px;
  min-height: 100px;
}
.response-field-paragraph textarea.rf-size-large {
  width: 100%;
  min-height: 200px;
}
.response-field-address .street {
  width: 400px;
}
.response-field-address .city,
.response-field-address .state,
.response-field-address .zip,
.response-field-address .country {
  width: 198px;
}
.response-field-date .month,
.response-field-date .day,
.response-field-date .year {
  width: 50px;
}
.response-field-time .hours,
.response-field-time .minutes,
.response-field-time .seconds {
  width: 50px;
}
.response-field-checkboxes .fb-option,
.response-field-radio .fb-option {
  margin-bottom: 5px;
  display: inline-block;
}
.response-field-website input {
  width: 200px;
}
* {
  box-sizing: border-box;
}
body {
  background: -webkit-radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5) 14%, transparent 15%) 0 0, -webkit-radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5) 14%, transparent 15%) 7px 7px, -webkit-radial-gradient(rgba(255,255,255,0.1) 14%, transparent 16%) 0 1px, -webkit-radial-gradient(rgba(255,255,255,0.1) 14%, transparent 16%) 7px 8px;
  background: -moz-radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5) 14%, transparent 15%) 0 0, -moz-radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5) 14%, transparent 15%) 7px 7px, -moz-radial-gradient(rgba(255,255,255,0.1) 14%, transparent 16%) 0 1px, -moz-radial-gradient(rgba(255,255,255,0.1) 14%, transparent 16%) 7px 8px;
  background: -o-radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5) 14%, transparent 15%) 0 0, -o-radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5) 14%, transparent 15%) 7px 7px, -o-radial-gradient(rgba(255,255,255,0.1) 14%, transparent 16%) 0 1px, -o-radial-gradient(rgba(255,255,255,0.1) 14%, transparent 16%) 7px 8px;
  background: radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5) 14%, transparent 15%) 0 0, radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5) 14%, transparent 15%) 7px 7px, radial-gradient(rgba(255,255,255,0.1) 14%, transparent 16%) 0 1px, radial-gradient(rgba(255,255,255,0.1) 14%, transparent 16%) 7px 8px;
  background-color: #bd1550;
  background-size: 16px 16px;
  font-family: sans-serif;
}
.fb-main {
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  min-height: 600px;
}
input[type=text] {
  margin-bottom: 3px;
}
select {
  margin-bottom: 5px;
  font-size: 40px;
}
.section-image {
  height: 200px;
  width: auto;
}
.section-image.image-control {
  height: 100px;
  width: auto;
}
footer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px 0 0;
  position: relative;
  font-family: 'Source Sans Pro', 'Open Sans', Tahoma;
  background-color: #000;
  color: #767770;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 10px;
  margin-top: 10px;
}
footer a,
a:visited {
  color: #00cc9a;
  text-decoration: none;
}
.logo-nuchwezi {
  background-image: url("../img/logo-nuchwezi.png");
  height: 60px;
  width: 86.11764705882354px;
  display: inline-block;
  background-size: 86.11764705882354px 60px;
}
.fb-publish-wrapper {
  padding: 10px;
  background-color: #0f9b8c;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.75);
  margin: 10px;
  margin-top: 20px;
}
.code {
  background-color: #fff;
  padding: 45px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin-top: 10px;
  font-weight: bold;
}
.fb-transport-mode {
  font-size: 16px;
}
.fb-app-publish {
  padding: 3px;
  background: none repeat scroll 0% 0% #bd1550;
}
.publish-status {
  color: #53777a;
}
.publish-failed {
  color: #c02942;
}
header h1 small {
  font-size: small !important;
  color: #490a3d;
}
textarea.fb-import-persona-json,
textarea.fb-app-description {
  width: 100%;
  height: 100px;
}
input.fb-import-persona-json {
  width: 100%;
}
.app-template-img {
  width: 100%;
  height: auto;
  border: 2px dashed #490a3d;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin-top: 4px;
}
.fb-templates-wrapper h5 {
  color: #bd1550;
}
.stub-device-id {
  padding: 20px;
  background-color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.stub-device-id-icon {
  max-width: 256px;
  max-height: 256px;
}
.stub-hidden-field {
  padding: 20px;
  background-color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.stub-hidden-field-icon {
  max-width: 256px;
  max-height: 256px;
}
